{% extends "loggedInLayout.html" %}

{% block content %}
<div class="uk-container">
    <div class="uk-flex uk-flex-column">
        <div class="uk-margin-medium-top">
            <p class="uk-text uk-text-large uk-text-light uk-text-emphasis uk-heading-divider uk-color-black">Change
                Password</p>
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <form method='POST' action='/change-password'>
                        <fieldset class="uk-fieldset">
                            <div class="uk-margin">
                                <label class="uk-form-label">Current Password</label>
                                <input class="uk-input" type='password' name='currentPassword' id='currentPassword'
                                    placeholder="Current Password" minlength="4" required />
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label">New Password</label>
                                <input class="uk-input" type='password' name='newPassword' id='newPassword'
                                    placeholder="New Password" minlength="4" required />
                            </div>

                            {% for message in messages %}
                            <p class='uk-text'>{{ message }}</p>
                            {% endfor %}

                            <div class="uk-margin">
                                <a href="/account" class="uk-text-decoration-none">Cancel</a>
                            </div>

                            <div class="uk-margin" uk-tooltip='title: Save changes; pos: bottom'>
                                <button class="uk-button uk-button-primary uk-width-1-1">
                                    Update Password
                                </button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}