{% extends "loggedInLayout.html" %}

{% block content %}
<div class="uk-container">
    <div class="uk-flex uk-flex-column">
        <div class="uk-margin-medium-top">
            <h1 class="uk-text uk-text-large uk-text-light uk-text-emphasis uk-heading-divider uk-color-black">
                DASHBOARD
            </h1>
            <a href="/{{user.username}}" target="__blank" class="uk-text uk-text-small uk-text-decoration-none">View My
                Express
                Link Website</a>
            {% if links.length == 0 %}
            <p class="uk-text uk-text-small">You have no links.</p>
            {% else %}
            <p class="uk-text uk-text-small">Your links are below.</p>
            {% endif %}

            {% for message in messages %}
            <p class="uk-text uk-text-small">{{ message }}</p>
            {% endfor %}
        </div>

        <div class="uk-margin-small-top uk-flex uk-flex-wrap">
            {% for link in links %}
            <div
                class="uk-card uk-card-medium uk-card-default uk-card-body uk-margin-small-right uk-margin-small-bottom uk-animation-slide-top-small">
                <h3 class="uk-card-title uk-text-light">{{link.linkName}}</h3>
                <a href="/edit/{{link.id}}" class="uk-card-badge uk-label uk-text-decoration-none uk-color-white"
                    style="color: #fff;">Edit</a>
                <a href="{{link.linkURL}}" target='__blank' class="uk-text-decoration-none"
                    class="uk-text-small">{{link.linkURL}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}