{% extends "loggedInLayout.html" %}

{% block content %}
<div class="uk-container">
    <div class="uk-flex uk-flex-column">
        <div class="uk-margin-medium-top">
            <p class="uk-text uk-text-large uk-text-light uk-text-emphasis uk-heading-divider uk-color-black">Edit
                Link</p>
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <form method='POST' action='/edit/{{linkId}}'>
                        <fieldset class="uk-fieldset">
                            <div class="uk-margin">
                                <input class='uk-input' type='text' name='linkName' id='linkName' minlength='4'
                                    maxlength='50' value="{{defaultName}}"
                                    placeholder="Link Name (Name of the link that appears on your profile)" required />
                            </div>
                            <div class="uk-margin">
                                <input class='uk-input' type='url' name='linkURL' id='linkURL' value="{{defaultURL}}"
                                    placeholder="Link URL (https://example.com)" required />

                            </div>


                            <div class="uk-margin">
                                <button class='uk-button uk-button-primary uk-width-1-1'>Save Changes</button>
                            </div>
                        </fieldset>
                    </form>
                    <form method='POST' action='/delete/{{linkId}}'>
                        <button class="uk-button uk-button-primary uk-text-decoration-none"
                            uk-tooltip="title: If you press this button, this link will be permanently deleted. The only way to restore this link is to create it again. Be careful!">Delete
                            Link?</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}