<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style.css" />
    <title>{{title}}</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <div class="uk-background-primary uk-light" uk-sticky>
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-light uk-text-decoration-none" href="/dashboard"
                    style="color: white;">NODELINK</a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="hover-over uk-visible@s"><a href="/dashboard">Dashboard</a></li>
                    <li class="hover-over uk-visible@s"><a href="/create-link">Create Link</a></li>
                    <li class="hover-over uk-visible@s"><a href="/analytics">Analytics</a></li>
                    <li class="hover-over uk-visible@s"><a href="/account">Account</a></li>
                    <li class="hover-over uk-visible@s"><a href="/logout">Logout</a></li>
                    <li class="hover-over uk-hidden@s"><a href="#" uk-toggle="target: #offcanvas-usage"><span
                                uk-navbar-toggle-icon></span></a>
                </ul>

            </div>
        </nav>
    </div>
    <div id="offcanvas-usage" uk-offcanvas="overlay: true; flip: true;">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/create-link">Create Link</a></li>
                <li><a href="/analytics">Analytics</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>