* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bio-textarea > textarea {
    resize: none;
    height: 12em;
}

.link {
    border-radius: 60px;
}

.user-profile-image > img {
    object-fit: cover;
}

.user-page {
    height: 100vh;
}

@media (min-width: 280px) {
    .link {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (min-width: 540px) {
    .link {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width: 768px) {
    .link {
        margin-left: 22%;
        margin-right: 22%;
    }
}